body {
    font-family: "Helvetica Neue";
    color: #ffffff;
    background-color: #111111;
    margin: 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none; }

.notes {
    font-size:8pt;
    margin:10px;
    color: #777;
}

#c {
    margin-top:30px;
    width: 320px;
    height: 320px;
}

button {
    border: 1px solid #0f0f0f;
    border-radius: 3px;
    color: white;
    display: inline-block;
    background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0, rgb(0,0,0)),
	    color-stop(1, rgb(15,15,15))
    );
    padding: 7px 14px;
    text-decoration: none;
    text-shadow: 0 1px 0 #050505;
    font-size: 14pt;
    font-weight: bold;
    font-family: "Helvetica Neue";
    height: 49px;
}

.icon { width: 32px; padding:6px;}
.left { float:left; padding-left:3px;}
.right { float:right; padding-right:3px;}
.clear { clear:both; }

#saving {
    position: fixed;
    height: 15px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    display: none;
    z-index: 9999;
    padding: 10px 10px 10px 10px;
    background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0, rgb(0,0,0)),
	    color-stop(1, rgb(40,40,40))
    );
    bottom: 0;
    font-weight: bold;
    font-size: 8pt;
    top: auto; }

#content {
    margin-top: 50px;
}

a:link { color: #dddddd; }

/* unvisited link */
a:visited {
    color: #dddddd; }

/* visited link */
a:hover {
    color: #dddddd; }

/* mouse over link */
a:active {
    opacity: 0.4;
    color: #dddddd; }

/* selected link */

#header {
    height: 42px;
    background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0, rgb(0,0,0)),
	    color-stop(1, rgb(50,50,50))
    );
}

#floating-header {
    position: fixed;
    top: 0;
    bottom: auto;
    height: 42px;
    width: 100%;
    z-index: 999;
    background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0, rgb(0,0,0)),
	    color-stop(1, rgb(50,50,50))
    );
}

